<!DOCTYPE html>
<html lang="en">

{{ block "header" . }}
  {{- partial "header.html" . -}}
{{ end }}

<body>
  <header>
  
    <nav class="navbar navbar-expand-md navbar">
        <div class="logo-container">
            <img src="{{ "img/datadog-logo.svg" | absURL }}">
        </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <i class="material-icons">menu</i>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">Products</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#">Docs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Customers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Blog</a>
          </li>
          <li class="nav-item">
              <a class="nav-link login-link" href="#">Login</a>
            </li>
        </ul>
      </div>
    </nav>
  </header>

{{ block "main" . }}
{{ end }}

{{ block "footer" . }}
  {{- partial "footer.html" . -}}
  {{- partial "bodyend.html" . -}}
{{ end }}
{{ block "footerscripts" . }}
{{ end }}
</body>
</html>
