main.container-fluid {
    padding: 120px 15px 0 15px;
    @include tablet {
        padding: 2rem 15px 0 165px;
    }
    @include desktop {
        padding: 2rem 15px 0 165px;
    }
    .main-row {
        margin-bottom: 1.5rem;
    }
    .site-heading {
        margin-bottom: 2rem;
        h1 {
            font-size: 2rem;
            font-weight: 200;
            margin: 10px 0 10px 0;
            @include tablet {
                font-size: 3.5rem;
                margin: 0 0 10px 0;
            }
            @include desktop {
                font-size: 3.5rem;
                margin: 0 0 10px 0;
            }
        }
        h2 {
            font-size: 1.1rem;
            font-weight: 200;
            margin: 0 0 3rem 0;
            @include mobile {
                font-size: 1.5rem;
            }
            @include tablet {
                font-size: 1.75rem;
            }
            @include desktop {
                font-size: 1.75rem;
            }
        }
    }
    .plans-column {
        padding: 0 2rem;
        @include tablet {
            padding-right: 2rem;
        }
        @include desktop {
            padding-right: 2rem;
        }
    }
    .plans {
        background-color: #f5f5f5;
        -webkit-box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, .15);
        box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, .15);
        a {
            display: block;
            color: black;
            &:hover {
                text-decoration: none;
                color: black;
            }
        }
        p {
            margin: 0;
        }
        .plan-column {
            padding: 0;
        }
        .plan-title {
            font-size: 0.75rem;
            text-transform: uppercase;
        }
        .plan-pricing {
            font-size: 3rem;
            line-height: 3.5rem;
        }
        .plan-note {
            font-size: 0.875rem;
        }
        .plan-list {
            padding: 0 0 2rem 0;
            list-style-type: none;
        }
        .pricing-detail-footer {
            display: inline-block;
            margin-bottom: 1rem;
            position: static;
            @include tablet {
                position: static;
            }
            @include desktop {
                position: static;
            }
            @include xl-desktop {
                position: absolute;
                bottom: 0;
            }
        }
        .section-infrastructure {
            border-bottom: 1px solid #C7C7C7;
            border-right: none;
            padding: 1rem 1rem 0 1rem;
            height: 100%;
            -webkit-transition: all 0.2s ease-in-out;
            -o-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
            @include tablet {
                border-bottom: 1px solid #C7C7C7;
                border-right: none;
            }
            @include desktop {
                border-bottom: 1px solid #C7C7C7;
                border-right: none;
            }
            @include xl-desktop {
                border-right: 1px solid #C7C7C7;
                border-bottom: none;
            }
            .plan-title,
            .pricing-detail-footer {
                color: #2B2AA7;
            }
            .pricing-detail-footer {
                border-bottom: 1px solid #2B2AA7;
            }
            &:hover {
                background-color: #2B2AA7;
                color: white;
                -webkit-transition: all 0.2s ease-in-out;
                -o-transition: all 0.2s ease-in-out;
                transition: all 0.2s ease-in-out;
                .pricing-detail-footer {
                    border-bottom: 1px solid white;
                }
            }
            &:hover>* {
                color: white;
            }
        }
        .section-apm {
            border-bottom: 1px solid #C7C7C7;
            border-right: none;
            padding: 1rem 1rem 0 1rem;
            height: 100%;
            -webkit-transition: all 0.2s ease-in-out;
            -o-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
            @include tablet {
                border-bottom: 1px solid #C7C7C7;
                border-right: none;
            }
            @include desktop {
                border-bottom: 1px solid #C7C7C7;
                border-right: none;
            }
            @include xl-desktop {
                border-right: 1px solid #C7C7C7;
                border-bottom: none;
            }
            .plan-title,
            .pricing-detail-footer {
                color: #14D071;
            }
            .pricing-detail-footer {
                border-bottom: 1px solid #14D071;
            }
            &:hover {
                -webkit-transition: all 0.2s ease-in-out;
                -o-transition: all 0.2s ease-in-out;
                transition: all 0.2s ease-in-out;
                background-color: #14D071;
                color: white;
                .pricing-detail-footer {
                    border-bottom: 1px solid white;
                }
            }
            &:hover>* {
                color: white;
            }
        }
        .section-logs {
            padding: 1rem 1rem 0 1rem;
            height: 100%;
            -webkit-transition: all 0.2s ease-in-out;
            -o-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
            .plan-title,
            .pricing-detail-footer {
                color: #FF635A;
            }
            .pricing-detail-footer {
                border-bottom: 1px solid #FF635A;
            }
            &:hover {
                background-color: #FF635A;
                color: white;
                -webkit-transition: all 0.2s ease-in-out;
                -o-transition: all 0.2s ease-in-out;
                transition: all 0.2s ease-in-out;
                .pricing-detail-footer {
                    border-bottom: 1px solid white;
                }
            }
            &:hover>* {
                color: white;
            }
        }
    }
    .card-columns {
        width: 100%;
        -webkit-column-count: 1;
        column-count: 1;
        padding: 0 1rem;
        @include desktop {
            -webkit-column-count: 2;
            column-count: 2;
        }
        .card {
            border: none;
            -webkit-box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, .15);
            box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, .15);
            display: inline-block;
            width: 100%;
        }
        .card-content {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            padding: 1rem;
            h3 {
                color: white;
                font-size: 14px;
                text-transform: uppercase;
                text-align: center;
            }
            h4 {
                color: white;
                font-size: 1.5rem;
                text-align: center;
                @include tablet {
                    font-size: 2.25rem;
                }
                @include desktop {
                    font-size: 2.25rem;
                }
            }
        }
        .card-apm {
            background-image: -webkit-gradient( linear, left top, left bottom, from(rgba(20, 208, 113, 0.75)), to(rgba(20, 208, 113, 0.75))), url('../img/screenshot-apm.png');
            background-image: -webkit-linear-gradient( rgba(20, 208, 113, 0.75), rgba(20, 208, 113, 0.75)), url('../img/screenshot-apm.png');
            background-image: -o-linear-gradient( rgba(20, 208, 113, 0.75), rgba(20, 208, 113, 0.75)), url('../img/screenshot-apm.png');
            background-image: linear-gradient( rgba(20, 208, 113, 0.75), rgba(20, 208, 113, 0.75)), url('../img/screenshot-apm.png');
            background-size: cover;
            background-repeat: no-repeat;
            width: 100%;
            height: 0;
            padding-top: 50%;
            background-repeat: no-repeat;
            background-blend-mode: multiply;
            -webkit-transition: all 0.25s ease-in-out;
            -o-transition: all 0.25s ease-in-out;
            transition: all 0.25s ease-in-out;
            &:hover {
                -webkit-transform: scale(1.02);
                -ms-transform: scale(1.02);
                transform: scale(1.02);
            }
        }
        .card-infrastructure {
            background-image: -webkit-gradient( linear, left top, left bottom, from(rgba(43, 42, 167, 0.75)), to(rgba(43, 42, 167, 0.75))), url('../img/screenshot-infrastructure.png');
            background-image: -webkit-linear-gradient( rgba(43, 42, 167, 0.75), rgba(43, 42, 167, 0.75)), url('../img/screenshot-infrastructure.png');
            background-image: -o-linear-gradient( rgba(43, 42, 167, 0.75), rgba(43, 42, 167, 0.75)), url('../img/screenshot-infrastructure.png');
            background-image: linear-gradient( rgba(43, 42, 167, 0.75), rgba(43, 42, 167, 0.75)), url('../img/screenshot-infrastructure.png');
            background-size: cover;
            background-repeat: no-repeat;
            width: 100%;
            height: 0;
            padding-top: 50%;
            background-repeat: no-repeat;
            background-blend-mode: multiply;
            -webkit-transition: all 0.25s ease-in-out;
            -o-transition: all 0.25s ease-in-out;
            transition: all 0.25s ease-in-out;
            &:hover {
                -webkit-transform: scale(1.02);
                -ms-transform: scale(1.02);
                transform: scale(1.02);
            }
        }
        .card-logs {
            background-image: -webkit-gradient( linear, left top, left bottom, from(rgba(255, 99, 90, 0.75)), to(rgba(255, 99, 90, 0.75))), url('../img/screenshot-logs.png');
            background-image: -webkit-linear-gradient( rgba(255, 99, 90, 0.75), rgba(255, 99, 90, 0.75)), url('../img/screenshot-logs.png');
            background-image: -o-linear-gradient( rgba(255, 99, 90, 0.75), rgba(255, 99, 90, 0.75)), url('../img/screenshot-logs.png');
            background-image: linear-gradient( rgba(255, 99, 90, 0.75), rgba(255, 99, 90, 0.75)), url('../img/screenshot-logs.png');
            background-size: cover;
            background-repeat: no-repeat;
            width: 100%;
            padding-top: 50%;
            background-repeat: no-repeat;
            background-blend-mode: multiply;
            -webkit-transition: all 0.25s ease-in-out;
            -o-transition: all 0.25s ease-in-out;
            transition: all 0.25s ease-in-out;
            &:hover {
                -webkit-transform: scale(1.02);
                -ms-transform: scale(1.02);
                transform: scale(1.02);
            }
        }
        .card-clients {
            .client-grid {
                display: -ms-grid;
                display: grid;
                -ms-grid-columns: 1fr 1fr 1fr 1fr;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                @include tablet {
                    -ms-grid-columns: 70px 70px 70px;
                    -ms-grid-columns: min-content 70px;
                    -ms-grid-columns: max-content 100%;
                    grid-template-columns: repeat(3, minmax(70px, 100%));
                }
                @include desktop {
                    -ms-grid-columns: 70px 70px 70px;
                    -ms-grid-columns: min-content 70px;
                    -ms-grid-columns: max-content 100%;
                    grid-template-columns: repeat(3, minmax(70px, 100%));
                }
                .module {
                    padding: 50% 1rem;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-pack: center;
                    -ms-flex-pack: center;
                    justify-content: center;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    align-items: center;
                    -ms-flex-line-pack: center;
                    align-content: center;
                    @include tablet {}
                    @include desktop {}
                    h3 {
                        margin: 0;
                    }
                    img {
                        width: 22%;
                        position: absolute;
                    }
                    &.airbnb-module {
                        background-color: #FF5A5F;
                    }
                    &.peloton-module {
                        background-color: #000000;
                    }
                    &.evernote-module {
                        background-color: #292929;
                    }
                    &.samsung-module {
                        background-color: #1428A0;
                    }
                    &.nginx-module {
                        background-color: #00AA4E;
                    }
                    &.pagerduty-module {
                        background-color: #5DBD5F;
                    }
                    &.wholefoods-module {
                        background-color: #000000;
                    }
                    &.atat-module {
                        background-color: #00A8E0;
                    }
                    &.ad-roll-module {
                        -ms-grid-column: 1;
                        -ms-grid-column-span: 4;
                        grid-column: 1/span 4;
                        -ms-grid-row: 1;
                        -ms-grid-row-span: 3;
                        grid-row: 1/4;
                        -webkit-box-orient: vertical;
                        -webkit-box-direction: normal;
                        -ms-flex-direction: column;
                        flex-direction: column;
                        -webkit-box-align: start;
                        -ms-flex-align: start;
                        align-items: flex-start;
                        -webkit-box-pack: center;
                        -ms-flex-pack: center;
                        justify-content: center;
                        padding: 1rem;
                        background-color: #f5f5f5;
                        @include tablet {
                            -ms-grid-column: 1;
                            -ms-grid-column-span: 3;
                            grid-column: 1/span 3;
                            -ms-grid-row: 1;
                            -ms-grid-row-span: 2;
                            grid-row: 1/3;
                        }
                        @include desktop {
                            -ms-grid-column: 1;
                            -ms-grid-column-span: 3;
                            grid-column: 1/span 3;
                            -ms-grid-row: 1;
                            -ms-grid-row-span: 2;
                            grid-row: 1/3;
                        }
                        .ad-roll-img-container {
                            img {
                                position: static;
                                width: 100px;
                            }
                        }
                        .ad-roll-quote {
                            margin: 1rem 0;
                        }
                        .ad-roll-quoter {
                            font-weight: 600;
                            margin: 0;
                            font-size: 0.875rem;
                        }
                        .ad-roll-quoter-title {
                            margin: 0;
                            font-size: 0.75rem;
                            text-transform: uppercase;
                        }
                        .ad-roll-link {
                            cursor: pointer;
                            display: block;
                            margin: 2rem 0 0 0;
                            color: #7700FF;
                            font-size: 1.1rem;
                            &:hover {
                                text-decoration: underline;
                            }
                        }
                        @include tablet {
                            -ms-grid-column: 2;
                            -ms-grid-column-span: 2;
                            grid-column: 2/span 2;
                            -ms-grid-row: 1;
                            -ms-grid-row-span: 2;
                            grid-row: 1/3;
                        }
                        @include desktop {
                            -ms-grid-column: 2;
                            -ms-grid-column-span: 2;
                            grid-column: 2/span 2;
                            -ms-grid-row: 1;
                            -ms-grid-row-span: 2;
                            grid-row: 1/3;
                        }
                    }
                }
                h3 {
                    color: black;
                }
            }
        }
        .card-observability {
            background-color: #F5F5F5;
            padding: 1.25rem;
            -webkit-box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, .15);
            box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, .15);
            cursor: pointer;
            h3 {
                color: #724EEF;
                text-align: left;
                font-size: 0.75rem;
                text-transform: uppercase;
            }
            h4 {
                color: black;
                font-size: 1.3rem;
                text-align: left;
            }
            .chevron-container {
                overflow: hidden;
            }
            .chevron-img {
                width: 3rem;
                fill: #D8D8D8;
                right: -200px;
                position: absolute;
                opacity: 0;
                overflow: hidden;
                -webkit-transition: right .25s ease-in-out, opacity .25s ease-in-out;
                -o-transition: right .25s ease-in-out, opacity .25s ease-in-out;
                transition: right .25s ease-in-out, opacity .25s ease-in-out;
                -webkit-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                transform: translateY(-50%);
                top: 50%;
            }
            .see-more-link {
                display: inline-block;
                border-bottom: 1px solid #724EEF;
                color: #724EEF;
                margin-bottom: 3rem;
            }
            .observable-img {
                overflow-x: scroll;
                overflow-y: hidden;
                white-space: nowrap;
                img {
                    width: 80%;
                    margin: 0 1rem 1rem 0;
                    display: inline-block;
                }
            }
            &:hover {
                .chevron-img {
                    right: 30px;
                    -webkit-transition: right .25s ease-in-out, opacity .25s ease-in-out;
                    -o-transition: right .25s ease-in-out, opacity .25s ease-in-out;
                    transition: right .25s ease-in-out, opacity .25s ease-in-out;
                    opacity: 1;
                    opacity: 1;
                }
            }
        }
        .card-img-overlay {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
        }
    }
}